The following code cell is to import modules.
# And load downloaded csv file to pandas for data cleaning, transformation and analysis

In [ ]:
import pandas as pd
from pandas import isna
import numpy as np
from numpy import datetime64



df = pd.read_csv(r'C:\Users\obunm\OneDrive\Desktop\dataengineering\AirBnB\listings.csv')
df_original = df.copy() #save copy of original dataframe just for contigency

# Initial Data Exploration to get detailed information on data type, column names, indexing,
# missing values and memory usage

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95144 entries, 0 to 95143
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              95144 non-null  int64
 1   name                            95144 non-null  object
 2   host_id                         95144 non-null  int64
 3   host_name                       95137 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   95144 non-null  object
 6   latitude                        95144 non-null  float64
 7   longitude                       95144 non-null  float64
 8   room_type                       95144 non-null  object
 9   price                           62777 non-null  float64
 10  minimum_nights                  95144 non-null  int64
 11  number_of_reviews               95144 non-null  int64
 12  last_review                     70560 non-null  object
 13  reviews_per_month               70560 non-null  float64
 14  calculated_host_listings_count  95144 non-null  int64
 15  availability_365                95144 non-null  int64
 16  number_of_reviews_ltm           95144 non-null  int64
 17  license                         0 non-null      float64
dtypes: float64(6), int64(7), object(5)
memory usage: 13.1+ MB

In [ ]:
# Exploring the data in a tabular form for better visualization
df.describe()

,id,host_id,neighbourhood_group,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
count,9.514400e+04,9.514400e+04,0.0,95144.000000,95144.000000,62777.000000,95144.000000,95144.000000,70560.000000,95144.000000,95144.000000,95144.000000,0.0
mean,5.771470e+17,1.940478e+08,NaN,51.509922,-0.126440,207.141581,5.556914,20.046477,1.015615,14.904334,135.791758,5.684415,NaN
std,5.304101e+17,2.008364e+08,NaN,0.049072,0.101387,774.707797,23.140859,47.828205,1.340759,47.331586,137.637672,12.050354,NaN
min,1.391300e+04,2.594000e+03,NaN,51.295937,-0.496160,1.000000,1.000000,0.000000,0.010000,1.000000,0.000000,0.000000,NaN
25%,2.752336e+07,2.527700e+07,NaN,51.483900,-0.188960,79.000000,1.000000,0.000000,0.160000,1.000000,0.000000,0.000000,NaN
50%,7.157820e+17,1.024573e+08,NaN,51.513978,-0.125983,134.000000,2.000000,4.000000,0.530000,2.000000,87.000000,1.000000,NaN
75%,1.099228e+18,3.588072e+08,NaN,51.539610,-0.066858,214.000000,4.000000,18.000000,1.320000,7.000000,269.000000,6.000000,NaN
max,1.308834e+18,6.662365e+08,NaN,51.682160,0.295969,80000.000000,1125.000000,1689.000000,40.020000,464.000000,365.000000,309.000000,NaN

In [11]:
# Display top 10 rows for quick observation
df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,13913,Holiday London DB Room Let-on going,54730,Alina,NaN,Islington,51.56861,-0.11270,Private room,59.0,1,47,2024-11-17,0.27,3,344,6,NaN
1,15400,Bright Chelsea Apartment. Chelsea!,60302,Philippa,NaN,Kensington and Chelsea,51.48811,-0.16878,Entire home/apt,120.0,4,96,2024-04-28,0.53,1,85,2,NaN
2,17402,Very Central Modern 3-Bed/2 Bath By Oxford St W1,67564,Liz,NaN,Westminster,51.52195,-0.14094,Entire home/apt,501.0,3,56,2024-02-19,0.33,6,297,1,NaN
3,24328,Battersea live/work artist house,41759,Joe,NaN,Wandsworth,51.47072,-0.16266,Entire home/apt,225.0,2,94,2022-07-19,0.55,1,284,0,NaN
4,31036,Bright compact 1 Bedroom Apartment Brick Lane,133271,Hendryks,NaN,Tower Hamlets,51.52425,-0.06997,Entire home/apt,105.0,3,123,2024-01-05,0.70,8,346,2,NaN
5,33332,Beautiful Ensuite Richmond-upon-Thames borough,144444,Chi-Chi,NaN,Richmond upon Thames,51.46410,-0.32498,Private room,140.0,2,19,2022-08-01,0.11,2,365,0,NaN
6,36299,Kew Gardens 3BR house in cul-de-sac,155938,Geert,NaN,Richmond upon Thames,51.48085,-0.28086,Entire home/apt,245.0,3,113,2024-11-25,0.66,1,230,7,NaN
7,36660,You are GUARANTEED to love this,157884,Agri & Roger,NaN,Haringey,51.58478,-0.16057,Private room,82.0,2,705,2024-12-11,4.06,2,236,54,NaN
8,38610,CHARMING FAMILY HOME,165579,Elisa & Dom,NaN,Hammersmith and Fulham,51.50701,-0.23362,Entire home/apt,289.0,7,42,2023-08-27,0.28,2,46,0,NaN
9,38950,Room 1 Large Double Bedroom - front ground floor,167107,Paul,NaN,Haringey,51.58684,-0.08632,Private room,55.0,1,1,2021-12-12,0.03,2,89,0,NaN

In [ ]:
# Exploration to get the dimension of the dataframe i.e number of rows and columns (95144, 18)
df.shape

(95144, 18)

In [ ]:
# check for missing values in the dataframe. This sum the number of missing values in each column
missing_values = df.isnull().sum()
print(f'missing values: {missing_values}')

missing values: id                                    0
name                                  0
host_id                               0
host_name                             7
neighbourhood_group               95144
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                             32367
minimum_nights                        0
number_of_reviews                     0
last_review                       24584
reviews_per_month                 24584
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           95144
dtype: int64

# check for missing values in the dataframe
missing_values = df.isnull() # This returns boolean value of false or true for the dataframe 
missing_values = df.isnull().sum() #returns sum of missing values for each column

In [ ]:
# option 2: check for number of missing values in each column
df.isna().sum()

id                                    0
name                                  0
host_id                               0
host_name                             7
neighbourhood_group               95144
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                             32367
minimum_nights                        0
number_of_reviews                     0
last_review                       24584
reviews_per_month                 24584
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           95144
dtype: int64

In [ ]:
#filter for missing values in price column
df.loc[df['price'].isna()]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
11,39387,Stylish bedsit in Notting Hill ish flat.,168920,Alec,NaN,Westminster,51.526050,-0.199420,Private room,NaN,5,10,2019-11-03,0.08,1,0,0,NaN
13,41509,Room in maisonette in chiswick,181028,Peter,NaN,Hounslow,51.493510,-0.255680,Private room,NaN,1,71,2019-12-23,0.43,1,0,0,NaN
14,41870,Room in relaxed family house!,182993,Bimpe,NaN,Waltham Forest,51.558400,0.002580,Private room,NaN,2,2,2011-07-02,0.01,1,0,0,NaN
16,42692,Fabulous flat w garden and bkfst!,186510,Shelley,NaN,Hammersmith and Fulham,51.508220,-0.215620,Private room,NaN,1,0,NaN,NaN,1,0,0,NaN
18,43202,Beautiful 1 bed apt in Queens Park,188559,Calypso,NaN,Brent,51.530310,-0.217130,Entire home/apt,NaN,5,139,2024-10-31,0.92,1,0,10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91642,1285459325225742391,Nine Elms – 1 Bedroom Flat,469397552,Eugin,NaN,Lambeth,51.482116,-0.125039,Entire home/apt,NaN,28,0,NaN,NaN,3,7,0,NaN
91647,1285479996006061990,Stunning flat in London,170574370,Alex,NaN,Lewisham,51.468404,-0.030848,Entire home/apt,NaN,14,0,NaN,NaN,1,2,0,NaN
91655,1285504846808166206,Spacious Private Room in Downshill Way London,443083912,Paul Onyeyirichi,NaN,Haringey,51.595467,-0.091841,Private room,NaN,4,0,NaN,NaN,14,342,0,NaN
91669,1285599630957594659,Duplex - 2 Double Bed/Bath Flat,28711038,Florence,NaN,Lambeth,51.499050,-0.110800,Entire home/apt,NaN,1,0,NaN,NaN,1,0,0,NaN
95071,1308014406435882120,Luxury by BigBen,68380504,Marivaldo,NaN,Westminster,51.492771,-0.128717,Entire home/apt,NaN,2,0,NaN,NaN,2,7,0,NaN

# The following code cell filters for missing values in the price column by displaying limited column numbers in the dataframe unlike the acode cell above that dispalys all columns in the cell

In [ ]:
df.loc[df['price'].isna(), ['host_id', 'host_name', 'price']]

In [ ]:
#Check for duplicate rows.  The result returns boolean value of false,No duplicates in the dataframe
duplicate_row = df.duplicated()
print(duplicate_row)

In [ ]:
# define a function to filter for missing values in different columns

def missing_values(x):
    """to find missing values in df column"""
    for x in df:
        missing_column_value = df.loc[df[x].isna()]
        print(missing_column_value)
    missing_values(df['last_review'])
    print(missing_values).head()

#Data Cleaning The following code cells focus on data cleaning
# # convert price to float. Price is already a float object. df['price'].tdtype returns float64.
# print(f'Price per night is £{price_per_night}') formats the price column to display £ sign with the price value.

In [ ]:
df['price'].dtype
price_per_night = df['price']

print('Price_per_night is: £{}'.format(price_per_night))
#df['price'] = df['price'].str.replace('$', '').str.strip()
# Convert to float
#df['price'] = df['price'].astype(float)

In [ ]:

# #Parse dates in last_review which is a string into datetime objects
df['last_review'] = df['last_review'].astype('datetime64[ns]')
df['last_review'].dtype

dtype('<M8[ns]')

In [121]:
df.info

<bound method DataFrame.info of                         id                                              name  \
0                    13913               Holiday London DB Room Let-on going
1                    15400               Bright Chelsea  Apartment. Chelsea!
2                    17402  Very Central Modern 3-Bed/2 Bath By Oxford St W1
3                    24328                  Battersea live/work artist house
4                    31036    Bright  compact 1 Bedroom Apartment Brick Lane
...                    ...                                               ...
95139  1308708000652746394         Your Apartment | Kensington | City Studio
95140  1308712815732116336         Your Apartment Kensington | Garden Studio
95141  1308713544192117978         Your Apartment Kensington | Garden Studio
95142  1308742431251651086              A Stylish Haven Near Portobello Road
95143  1308833968163269751               Large 1 Bedroom Apartment - Chelsea

         host_id       host_name  neighbourhood_group           neighbourhood  \
0          54730           Alina                  NaN               Islington
1          60302        Philippa                  NaN  Kensington and Chelsea
2          67564             Liz                  NaN             Westminster
3          41759             Joe                  NaN              Wandsworth
4         133271        Hendryks                  NaN           Tower Hamlets
...          ...             ...                  ...                     ...
95139  125651447  Your Apartment                  NaN  Kensington and Chelsea
95140  125651447  Your Apartment                  NaN  Kensington and Chelsea
95141  125651447  Your Apartment                  NaN  Kensington and Chelsea
95142    1432477      City Relay                  NaN  Kensington and Chelsea
95143   27572615           Emily                  NaN  Kensington and Chelsea

        latitude  longitude        room_type   price  minimum_nights  \
0      51.568610  -0.112700     Private room    59.0               1
1      51.488110  -0.168780  Entire home/apt   120.0               4
2      51.521950  -0.140940  Entire home/apt   501.0               3
3      51.470720  -0.162660  Entire home/apt   225.0               2
4      51.524250  -0.069970  Entire home/apt   105.0               3
...          ...        ...              ...     ...             ...
95139  51.495726  -0.191210  Entire home/apt   126.0               1
95140  51.496103  -0.191554  Entire home/apt   139.0               1
95141  51.494875  -0.191463  Entire home/apt   137.0               1
95142  51.518087  -0.204675  Entire home/apt  9999.0               1
95143  51.490303  -0.160527  Entire home/apt   283.0               4

       number_of_reviews last_review  reviews_per_month  \
0                     47  2024-11-17               0.27
1                     96  2024-04-28               0.53
2                     56  2024-02-19               0.33
3                     94  2022-07-19               0.55
4                    123  2024-01-05               0.70
...                  ...         ...                ...
95139                  0  0000-01-01                NaN
95140                  0  0000-01-01                NaN
95141                  0  0000-01-01                NaN
95142                  0  0000-01-01                NaN
95143                  0  0000-01-01                NaN

       calculated_host_listings_count  availability_365  \
0                                   3               344
1                                   1                85
2                                   6               297
3                                   1               284
4                                   8               346
...                               ...               ...
95139                              22               356
95140                              22               357
95141                              22               346
95142                             219               225
95143                              54                32

       number_of_reviews_ltm  license
0                          6      NaN
1                          2      NaN
2                          1      NaN
3                          0      NaN
4                          2      NaN
...                      ...      ...
95139                      0      NaN
95140                      0      NaN
95141                      0      NaN
95142                      0      NaN
95143                      0      NaN

[95144 rows x 18 columns]>

In [ ]:
# Code handling missing value in price column using interpolate
df['price'] = df['price'].interpolate()
#df.fillna(df['price'].mean()) #Why does this fill in all missing value with mean when i specified price column

# handling missing value in the last_review column
#df['last_review'] = df['last_review'].fillna("0000-01-01") #set missing date to 0000-01-01
df['last_review'] = df['last_review'].str.replace('0000-01-01', '2000-01-01') #overflow error so I replaced 0000 with 2000
df['last_review'] = df['last_review'].astype('datetime64[ns]') #converted object to datetime

In [ ]:
# Handling missing value in reviews_per_month and host_name
df['reviews_per_month'] = df['reviews_per_month'].fillna(0.0) #set missing value to 0
df['host_name'] = df['host_name'].fillna("unknown")
# Drop columns with missingvalues
df = df.drop(columns=['neighbourhood_group', 'license'])

# Data Enrichment - 
The following code cell creates a function to categorize room availability and adds 2 additional columns to the dataframe 
There are 3 categories, Full time if the room type is avaialable for more than 300 days in a year,
Partime if the room type is avaialable for more than 100 days but less than 300 days in a year
And rare if the availability is less than 100.

In [ ]:
df['price_per_booking'] = df['price'] * df['minimum_nights']

def availability_category(value):
    """categorize availability"""
    if value > 300:
        return "full_time"
    elif value >= 100 and value <=300:
       return "part_time"
    else:
       return "rare"
    
df['avail_category'] = df['availability_365'].apply(availability_category)

# Data Analysis
# What are the top 10 most expensive neighborhoods by average price?
# What’s the average availability and price by room type?
# How many listings have never been reviewed?
# Which host has the most listings?
# How does average price vary across different boroughs or districts?

In [ ]:
# What are the top 10 most expensive neighborhoods by average price?
average_price = df.groupby('neighbourhood')['price'].mean()
top_10_most_expensive_neighbourhoods = average_price.sort_values(ascending=False).head(10)
print(f'top_10_most_expensive_neighbourhoods are: {top_10_most_expensive_neighbourhoods}')

# What’s the average availability and price by room type?
average_availability = df.groupby('room_type')[['price', 'availability_365']].mean()
print(f'average_availability and price by room type: {average_availability}')

#How many listings have never been reviewed
no_review = df.loc[df['number_of_reviews'] == 0]
no_review_count = no_review.shape[0]
print(f'Number of listing with no review {no_review_count}')

top_10_most_expensive_neighbourhoods are: neighbourhood
Kensington and Chelsea    350.838958
Westminster               337.796848
City of London            259.154489
Lambeth                   258.622497
Camden                    224.189489
Islington                 200.561067
Wandsworth                200.447786
Hammersmith and Fulham    195.039524
Southwark                 189.587393
Brent                     187.327900
Name: price, dtype: float64
average_availability and price by room type:                       price  availability_365
room_type
Entire home/apt  253.690571        139.418592
Hotel room       559.509434        178.637363
Private room     109.504488        128.828311
Shared room      143.628571        150.674365
Number of listing with no review 24584

In [ ]:
# Which host has the most listings?
most_listing_count= df.groupby('host_id').size()
host_with_most_list = most_listing_count.sort_values(ascending=False).head(1)
print(f'Host with most listing:{host_with_most_list}')
hostname = df.loc[df['host_id']==314162972, 'host_name'].iloc[1]
print(hostname)

Host with most listing:host_id
314162972    464
dtype: int64
Blueground

In [ ]:
# How does average price vary across different boroughs or districts?
average_price_across_districts= df.groupby('neighbourhood')['price'].mean()
order_average_price_across_districts = average_price_across_districts.sort_values(ascending=True)
print(order_average_price_across_districts)

In [ ]:
df

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,price_per_booking,avail_category
0,13913,Holiday London DB Room Let-on going,54730,Alina,Islington,51.568610,-0.112700,Private room,59.0,1,47,2024-11-17,0.27,3,344,6,59.0,full_time
1,15400,Bright Chelsea Apartment. Chelsea!,60302,Philippa,Kensington and Chelsea,51.488110,-0.168780,Entire home/apt,120.0,4,96,2024-04-28,0.53,1,85,2,480.0,rare
2,17402,Very Central Modern 3-Bed/2 Bath By Oxford St W1,67564,Liz,Westminster,51.521950,-0.140940,Entire home/apt,501.0,3,56,2024-02-19,0.33,6,297,1,1503.0,part_time
3,24328,Battersea live/work artist house,41759,Joe,Wandsworth,51.470720,-0.162660,Entire home/apt,225.0,2,94,2022-07-19,0.55,1,284,0,450.0,part_time
4,31036,Bright compact 1 Bedroom Apartment Brick Lane,133271,Hendryks,Tower Hamlets,51.524250,-0.069970,Entire home/apt,105.0,3,123,2024-01-05,0.70,8,346,2,315.0,full_time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95139,1308708000652746394,Your Apartment | Kensington | City Studio,125651447,Your Apartment,Kensington and Chelsea,51.495726,-0.191210,Entire home/apt,126.0,1,0,2000-01-01,0.00,22,356,0,126.0,full_time
95140,1308712815732116336,Your Apartment Kensington | Garden Studio,125651447,Your Apartment,Kensington and Chelsea,51.496103,-0.191554,Entire home/apt,139.0,1,0,2000-01-01,0.00,22,357,0,139.0,full_time
95141,1308713544192117978,Your Apartment Kensington | Garden Studio,125651447,Your Apartment,Kensington and Chelsea,51.494875,-0.191463,Entire home/apt,137.0,1,0,2000-01-01,0.00,22,346,0,137.0,full_time
95142,1308742431251651086,A Stylish Haven Near Portobello Road,1432477,City Relay,Kensington and Chelsea,51.518087,-0.204675,Entire home/apt,9999.0,1,0,2000-01-01,0.00,219,225,0,9999.0,part_time
95143,1308833968163269751,Large 1 Bedroom Apartment - Chelsea,27572615,Emily,Kensington and Chelsea,51.490303,-0.160527,Entire home/apt,283.0,4,0,2000-01-01,0.00,54,32,0,1132.0,rare

Summary and Key insights
1. Some listings are available throughout the year for over 300 days, while some are part-time or rarely available. This could be because the listings are used by the host some days of the year.
2. A host could have more than one listing at different locations 
3. The further you move away from the central the cheaper the listings are. i.e Kessington  and Chelsea is over £350 per night while Southwark is £189.00
4. Most expensive listings are in the central
5. Hotel room type have more availability than other room types